DATABASE_URL="postgresql://postgres:postgres@localhost:5432/swiftluxury?schema=public"
NEXTAUTH_SECRET="changeme"

# Admin authentication
ADMIN_USERNAME="adminboss"
ADMIN_PASSWORD="Admin420!@"

# Feature flags
FEATURE_DB_BOOKINGS="0"
NEXT_PUBLIC_FEATURE_DB_BOOKINGS="0"



